<h1>This is my resume page</h1>

<h1>Elliot Richardson</h1>

<h3>Skills</h3>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Angular</li>
    <li>Node.js</li>
    <li>React</li>
    <li>Gulp</li>
    <li>Sass</li>
    <li>Jquery</li>
    <li>Bootstrap</li>
    <li>Wordpress</li>
    <li>SQL</li>
</ul>

<h3>Front End Web Developer/Web Designer</h3>
<p>Front End Developer 2015 - Present
<ul>
    <li>Experience with HTML,CSS,Javascript,Jquery, Angular, React, Node.js, Gulp, Sass, Bootstrap, Wordpress, Git to build interactive websites</li>
    <li>Experience with responsive design using media queries, Css, Bootstrap, and fluid grid systems</li>
    <li>Experience with CMS systems, Wordpress, Squarespace, Go Daddy site builder</li>
    <li>Experience with Affinity Photo/Designer, Pixelmator, Sketch, Adobe</li>
    <li>Able to translate PSD mockups using HTML,CSS,Javascript with a keen eye for design</li>
</ul>

<h3>Apple</h3>
<p>Tech Customer Support 2015 - 2016</p>
<ul>
    <li>Troubleshooting iOS devices and personal Macintosh computers</li>
    <li>Handle both software and hardware technical support</li>
    <li>Systematic diagnosis and documentation of all services</li>
    <li>Provided Teamwork and leadership of my technical team</li>
    <li>Excellent composure in high stress situations, always aiming to align and assure all of my customers</li>
    <li>World class customer service, ensuring each customer has a great experience with Apple's in store tech support</li>
</ul>

<h3>Projects</h3>
<ul>
    <li>Rodesk Website Clone</li>
    <span>Built from the ground up for a school project using Angular, HTML, CSS, Javascript, Jquery, Gulp, Sass</span>
    <li>Beoplay Website Clone</li>
    <span>Built from the ground up for a school project using Angular, HTML, CSS, Javascript, Jquery, Gulp, Sass, Node.js, SQL, NPM</span>
    <li>Lyft Website Clone</li>
    <span>Built from the ground up as a group project for school using React, HTML, CSS, Javascript, Jquery, Webpack, Bootstrap, Node.js, SQL</span>
</ul>

<h3>Education</h3>
<ul>
    <li>Bachelor of Arts in Music, 2005, California State University of Fullerton</li>
    <li>Dev Mountain 2016 Full Stack Web Development Program</li>
</ul>
