
.main-header-container {
    display: flex;
    justify-content: space-between;
    background: $black;
    min-height: 60px;
    align-items: center;
    .main-nav-container {
        display: flex;
        li {
            margin: 2px 10px;
        }
    }
    .main-logo-container {
        img {
            width: 40px;
        }
    }
}
