/*

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans:200|Open+Sans');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25em;
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
}
