<div class="logo-component margin-bottom">
    <div class="logos-container">
        <!-- <div class="">
            <img class="logos" ng-src="./img/hexagoniconthick.svg"/>
        </div> -->
        <div class="">
            <img class="logos" ng-src="./img/triangleiconthick.svg"/>
        </div>
        <!-- <div class="">
            <img class="logos" ng-src="./img/earlogo2thick.svg"/>
        </div> -->
    </div>
    <div class="text-container">
        <!-- <p>Designed and built from the ground up with both creativity and user experience in mind</p>
        <p>Built from the ground up with modern technologies</p>
        <p>Designed by Elliot Richardson from the ground up with thought and creativity</p> -->
        <h2>Creatively designed and Built</h2>
        <p>creatively designed and built with modern technologies always mindful of the users experience.</p>
    </div>
</div>
<h1>Portfolio</h1>
