<div ng-class="{'open-mobile-menu': toggleMobileMenu}" class="mobile-menu-modal" ng-click="closeMobileMenu()"></div>
<div ng-class="{'open-mobile-menu': toggleMobileMenu}" class="mobile-menu-container">
    <img class="close-menu" ng-src="img/closebuttonblk.svg" ng-click="openMobileMenu()"/>
    <nav>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Portfolio</li></a>
        <a href="#"><li>Resume</li></a>
        <a href="#"><li>Contact</li></a>
    </nav>
    <div class="main-logo-container">
        <img ng-src="./img/earlogo1.svg"/>
    </div>
</div>
