<!-- PORTFOLIO SCROLL DIRECTIVE ATTRIBUTE -->
<div portfolio-scroll-directive  class="portfolio-container">
    <div ng-repeat="data in portfolio">
        <div class="project-box" portfolio-drop-directive>
            <div class="project-thumb">
                <img ng-src='{{ data.img }}' />
            </div>
            <p class="project-name">{{ data.name }}</p>
            <span class="project-plus-icon">+</span>
        </div>
        <div ng-repeat="data in portfolio" class="project-drop">
            <img ng-src='{{ data.images[0] }}' />
            <img ng-src='{{ data.images[1] }}' />
            <img ng-src='{{ data.images[2] }}' />
            <img ng-src='{{ data.images[3] }}' />
        </div>
        <!-- <div class="project-drop">
            <img ng-src='./img/optimalins802x694.jpg' />
            <img ng-src='./img/optimalins802x694.jpg' />
            <img ng-src='./img/optimalins802x694.jpg' />
            <img ng-src='./img/optimalins802x694.jpg' />
        </div> -->
    </div>

</div>


<!-- DESKTOP PORTFOLIO SECTION HIDDEN BEFORE 760PX -->
<div class="desktop-portfolio-container" ng-cloak>
    <div class="project-row">
        <div ng-repeat="data in portfolio" class="project-container1">
             <div class="box1">
                 <img class="img-thumb" ng-src="{{ data.img }}"/>
                 <div class="project-info-container">
                     <div class="project-info-left">
                        <p>{{ data.name }}</p>
                        <p class="tech">{{ data.tech}}</p>
                    </div>
                    <div class="project-info-logo">
                        <img ng-src="../../img/earlogo2white.svg"/>
                    </div>
                 </div>
             </div>
        </div>

        </div>
</div>
