<!-- PORTFOLIO SCROLL DIRECTIVE ATTRIBUTE -->
<div portfolio-scroll-directive class="portfolio-container">
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='img/rodeskpic1.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='img/rodeskpic1.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='img/rodeskpic1.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='img/rodeskpic1.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
</div>
