<!-- PORTFOLIO SCROLL DIRECTIVE ATTRIBUTE -->
<div portfolio-scroll-directive class="portfolio-container">
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='./img/ersite802x694.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='./img/rodesk802x694.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='./img/beoplay802x694.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
    <div class="project-box">
        <div class="project-thumb">
            <img ng-src='./img/optimalins802x694.jpg' />
        </div>
        <p class="project-name">Rodesk Site Clone</p>
        <span class="project-plus-icon">+</span>
    </div>
</div>


<!-- DESKTOP PORTFOLIO SECTION HIDDEN BEFORE 760PX -->
<div class="desktop-portfolio-container">
    <div class="project-row">
        <div class=project-container1>
             <div class="box1">
                 <img ng-src="../../img/ersite802x694.jpg"/>
                 <div class="project-info-container">
                     <div class="project-info-left">
                        <p>Elliot Richardson Site Rebuild</p>
                        <p class="tech">HTML, CSS, Javascript, Angular, Jquery, Gulp, Sass, Node.js</p>
                    </div>
                    <div class="project-info-logo">
                        <img ng-src="../../img/earlogo2.svg"/>
                    </div>
                 </div>
             </div>
             <div class="box1">
                 <img ng-src="../../img/rodesk802x694.jpg"/>
                 <div class="project-info-container">
                     <div class="project-info-left">
                        <p>Rodesk Site Clone</p>
                        <p class="tech">HTML, CSS, Javascript, Jquery, Angular</p>
                    </div>
                    <div class="project-info-logo">
                        <img ng-src="../../img/earlogo2.svg"/>
                    </div>
                 </div>
             </div>
        </div>
        <div class=project-container1>
             <div class="box1">
                 <img ng-src="../../img/optimalins802x694.jpg"/>
                 <div class="project-info-container">
                     <div class="project-info-left">
                        <p>Optimal Insurance Site</p>
                        <p class="tech">HTML, CSS, Squarespace</p>
                    </div>
                    <div class="project-info-logo">
                        <img ng-src="../../img/earlogo2.svg"/>
                    </div>
                 </div>
             </div>
             <div class="box1">
                 <img ng-src="../../img/beoplay802x694.jpg"/>
                 <div class="project-info-container">
                     <div class="project-info-left">
                        <p>Beoplay Site Clone</p>
                        <p class="tech">HTML, CSS, Javascript, Jquery, Angular, Node.js, Gulp, Sass</p>
                    </div>
                    <div class="project-info-logo">
                        <img ng-src="../../img/earlogo2.svg"/>
                    </div>
                 </div>
             </div>
        </div>
        <!-- BOTTOM CONTAINER OF PORTFOLIO BOXES -->
        <!-- <div class="project-container2">
            <div class="box2">
                <img ng-src="../../img/beoplay802x694.jpg"/>
                <div class="project-info-container">
                    <div class="project-info-left">
                       <p>Beoplay Site Clone</p>
                       <p class="tech">HTML, CSS, Javascript, Jquery, Node.js, Gulp, Sass, SQL</p>
                   </div>
                   <div class="project-info-logo">
                       <img ng-src="../../img/earlogo2.svg"/>
                   </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
